<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户管理</title>
</head>
<body>
<form action="" method="post">
    <input type="text" name="name" value="{{ .q }}">
    <input type="submit" value="查询">
</form>
<a href="{{ urlfor `AuthController.Logout` }}">退出登录</a>

    <table>
      <thead>
      <tr>
          <th>员工编号</th>
          <th>用户名</th>
          <th>姓名</th>
          <th>性别</th>
          <th>联系方式</th>
          <th>邮箱</th>
          <th>联系地址</th>
          <th>状态</th>
          <th>操作</th>
      </tr>
      </thead>
        <tbody>
            {{ range .users }}
                <tr>
<!--                    id, staff_id, name,nickname,gender,tel,email,addr,department,status,created_at,updated_at,deleted-->

                    <td>{{ .StaffID}}</td>
                    <td>{{ .Nickname }}</td>
                    <td>{{ .Name }}</td>
                    <td>{{ .GenderText }}</td>
                    <td>{{ .Tel }}</td>
                    <td>{{ .Email }}</td>
                    <td>{{ .Addr }}</td>
                    <td>{{ .Department }}</td>
                    <td>{{ .StatusText }}</td>
                    <td>{{ .Created_at }}</td>
                    <td>{{ .Updated_at }}</td>
                    <td>{{ .Deleted_at }}</td>
                </tr>
            {{ end }}
        </tbody>
    </table>
</body>
</html>