<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改</title>
    <form action="/modify"  method="post">
        <label > 任务名: </label> <input type="text" name="name1" value="">   <label > 修改为: </label> <input type="text" name="name2" value="">  <br>
        <label > 状态: </label>  执行中<input type="radio" name="status" value="执行中"> 正在执行<input type="radio" name="status" value="正在执行"> 已完成<input type="radio" name="status" value="已完成">
        <br>
        <input type="submit" value="修改">
    </form>
</head>
<body>

</body>
</html>